<div class="yourproject-header">
    <div class="YourProject">{{title}}</div>
    <a href="{{href}}" class="see-more">See more</a>
</div>
    <div class="project-list">
        {{#each Projects}}
            <div class="Project-box">
                <div class="project-item">
                    <div class="project-image" style="background-image: url('{{this.ProjectImageURL}}');">
                        <input type="button" class="project-btn" value="{{../ButtonName}}">
                    </div>
                </div>
            <p class="project-name">{{this.ProjectName}}</p>
            </div>
    {{/each}}
</div>
