{{#> main}}
    <div class="profileview-container">
        <div class="projects-form-box">
            <h1 class="profile-title">My Profile</h1>
                    <div class="image-upload-wrapper">
                        <img src="{{imageURL}}" class="profile-image-preview" id="profileImage">
                    </div>
                <form id="profileForm" enctype="multipart/form-data">
                    <!-- Organization Name -->
                    <label for="orgName">Organization / Partner Name</label>
                    <div class="profile-info">{{orgname}}</div>

                    <!-- Contact Person -->
                    <label for="contactPerson">Contact Person</label>
                        <div class="profile-info"><strong>Name:</strong> {{contactname}}</div>
                        <div class="profile-info"><strong>Position:</strong> {{contactposition}}</div>
                        <div class="profile-info"><strong>Number:</strong> {{contactnumber}}</div>
                    <!-- Email Address -->
                    <label for="email">Email</label>
                    <div class="profile-info">{{email}}</div>

                    <!-- Full Address -->
                    <label for="address">Full Address & Location</label>
                    <div class="profile-info"><strong>Full address:</strong> {{address}}</div>
                        <div class="profile-info"><strong>Province:</strong> {{province}}</div>
                        <div class="profile-info"><strong>Municipality:</strong> {{municipality}}</div>
                        <div class="profile-info"><strong>Barangay:</strong> {{barangay}}</div>

                    <!-- Type of Partner -->
                    <label for="partnerType">Type of Partner</label>
                    <div class="profile-info">{{partnertype}}</div>

                    <!-- Advocacy Focus -->
                    <label for="advocacy">Advocacy Focus</label>
                    <div class="profile-info">{{advocacy}}</div>

                <!-- Edit Button -->
                {{#if AccOwner}}
                <button type="button" class="apply-btn" onclick="window.location.href='/editprofile'">Edit Profile</button>
                {{/if}}
                </form>
        </div>
    </div>
{{/main}}
